body {
    margin: 25px;
}

h2 {
    font-size: 1rem;
}

.photo-profile, .text-profile, .posts {
    position: absolute;
}

.text-profile {
    left: 200px;
    top: 8rem;
}

.photo-profile, img {
    width: 150px;
    height: 150px;
    border-radius: 0.3rem;
    top: 8rem;
}

.posts {
    margin: 25px 0 10px 0;
    top: 11rem;
    left: 200px;
}

form {
    width: 500px;
}

.tags label {
    display: block;
}

.btn-container {
    margin-top: 15px;
}