{% extends "base.html" %}
{% block title %} Edit {% endblock %}
{% block heading %} Edit a User {% endblock %}
{% block body %}

<form action="/users/{{ user.id }}/edit" method="POST">
    <p>
        First Name:
        <input type="text" name="first_name" placeholder="Enter a first name" required>
    </p>
    <p>
        Last Name:
        <input type="text" name="last_name" placeholder="Enter a last name" required>
    </p>
    <p>
        Image URL:
        <input type="url" name="image_url" placeholder="Provide an image for this user" required>
    </p>
    <button><a href="/users">Cancel</a></button>
    <button>Save</button>
</form>

{% endblock %}