{% extends "base.html" %}
{% block title %} Edit Post {% endblock %}
{% block heading %} Edit Post {% endblock %}
{% block body %}

<form action="/posts/{{ post.id }}/edit" method="POST">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{ post.title }}" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" placeholder="{{ post.content}}" rows="4" required></textarea>
    </div>

    <div class="tags">
        {% for tag in tags %}
            {% if tag in post.tags %}
                <label>
                    <input type="checkbox" class="post_tag" name="{{ tag.name }}" checked>
                    {{ tag.name }}
                </label>
            {% else %}
                <label>
                    <input type="checkbox" class="post_tag" name="{{ tag.name }}">
                    {{ tag.name }}
                </label>
            {% endif %}
        {% endfor %}
    </div>

    <div class="btn-container">
        <a href="/users/{{ post.user.id }}"><button type="button" class="btn btn-outline-primary btn-sm">Cancel</button></a>
        <button class="btn btn-primary btn-sm">Edit</button>
    </div>
</form>

{% endblock %}