{% extends "base.html" %}
{% block title %} Edit {% endblock %}
{% block heading %} Edit a User {% endblock %}
{% block body %}

<form action="/users/{{ user.id }}/edit" method="POST">
    <p>
        First Name
        <input type="text" name="first_name" placeholder="Enter a first name" required>
    </p>
    <p>
        Last Name
        <input type="text" name="last_name" placeholder="Enter a last name" required>
    </p>
    <p>
        Image URL
        <input type="url" name="image_url" placeholder="Provide an image's link" required>
    </p>
    <a href="/users/{{ user.id }}"><button type="button" class="btn btn-outline-primary btn-sm">Cancel</button></a>
    <button type="button" class="btn btn-primary btn-sm">Save</button>
</form>

{% endblock %}